# {{ ansible_managed }}
# Архитектура системы
ARCH={{ install_think_client_arch }}
PKG_ARCH=`echo $ARCH | sed -e 's/amd/deb/g'`

# Имя пакета
NAME={{ install_think_client_name }}
# список пакетов
applist=$(find ./ -name "$NAME-thin-client*.deb")
for pkgapp in $applist
    do

    # Извлечение версии пакета из имени
    VERSION=`ls $pkgapp | head -1 | sed -e 's/'_"$ARCH"'//g' -e 's/^.*client_//g' -e 's/\.[^.]*$//'`

    # Распаковка пакетов
    dpkg -x "$pkgapp" .
    # Генерация файла .desktop
    DESKTOPFILE="1cstart.$VERSION.desktop"
    touch "$DESKTOPFILE"

    echo "[Desktop Entry]" >> "$DESKTOPFILE"
    echo "Version=1.0" >> "$DESKTOPFILE"
    echo "Type=Application" >> "$DESKTOPFILE"
    echo "Terminal=false" >> "$DESKTOPFILE"
    echo "Exec=/opt/1C/v"$VERSION"/x86_64/1cestart" >> "$DESKTOPFILE"
    echo "Categories=Office;Finance;" >> "$DESKTOPFILE"
    echo "Name[ru_RU]=1C:Предприятие "$VERSION >> "$DESKTOPFILE"
    echo "Name=1C:Enterprise "$VERSION >> "$DESKTOPFILE"
    echo "Icon=1cestart" >> "$DESKTOPFILE"

    sudo mv "opt/1C/v8.3" "/opt/1C/"v$VERSION
    sudo desktop-file-install "1cestart.$VERSION.desktop"
done
